body {
  font-family: $font-stack;
  text-align:center;
  margin: 0;
}

.light-app {
  color: #2c3e50;
}

.dark-app {
  color: $darkmode-text-color;
}

.notification-error {
  padding: 10px;
  margin: 0 5px 5px;

  font-size: 12px;

  color: #ffffff;
  background-color: #FF892E;
  border-left: 5px solid #c9600f;
}

.notification-success {
  padding: 10px;
  margin: 0 5px 5px;

  font-size: 12px;

  color: #ffffff;
  background-color: #82c90f;
  border-left: 5px solid #1a710b;
}