.nav {
  padding: 20px;

  a {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
  }
}

.light {
  background-color: $primary-background-color;

  a {
    color: $primary-text-color;
  }
}

.dark {
  background-color: $darkmode-background-color;

  a {
    color: $darkmode-text-color;
  }
}