$font-stack: Europa, Helvetica, Arial !default;

$primary-background-color: #FF892E !default;
$primary-text-color: whitesmoke !default;
$secondary-text-color: #2bc2c7;

$darkmode-background-color: #526171;
$darkmode-text-color: #c1c1c1;